[main]
ds = com.mysql.jdbc.jdbc2.optional.MysqlDataSource
ds.serverName = ip
ds.user = user
ds.password = password
ds.databaseName = database


jdbcRealm = org.apache.shiro.realm.jdbc.JdbcRealm
jdbcRealm.dataSource = $ds
jdbcRealm.permissionsLookupEnabled = true
jdbcRealm.authenticationQuery = SELECT password FROM user WHERE username = ?
jdbcRealm.userRolesQuery = SELECT r.role FROM user p, roles r, user_roles pr WHERE pr.user_id = p.id and r.id = pr.role_id and p.username = ?
jdbcRealm.permissionsQuery = SELECT p.permission FROM permissions p, roles r WHERE p.role_id = r.id and r.role = ?

authc = org.apache.shiro.web.filter.authc.PassThruAuthenticationFilter
shiro.loginUrl = /login
authc.successUrl = /app

allGroup = com.airbnb.shiro.UserGroup
allGroup.groups = admin
allGroup.permissions = access, read:*:*, write:*:*
allGroup.defaultConnector = hive
allGroup.defaultSchema = jumbo2
allGroup.timeout = 40m
allGroup.accessLevel = User

sessionManager = org.apache.shiro.web.session.mgt.DefaultWebSessionManager
sessionListener = com.airbnb.shiro.SessionListenerLogger

allowAllFilter = com.airbnb.shiro.filter.AllowAllFilter
allowAllFilter.groups = $allGroup
allowAllFilter.loginUrl = /login

builtInCacheManager = org.apache.shiro.cache.MemoryConstrainedCacheManager
securityManager.cacheManager = $builtInCacheManager
securityManager.sessionManager = $sessionManager

[users]
[roles]
[urls]
/login = authc
/logout = logout
/app = authc, perms["access"]
/api/** = authc, perms["access"]